@using BackEnd.Models
@model LoginInfo

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="section-account">
    <div class="img-backdrop"></div>
    <div class="spacer"></div>
    <div class="card contain-sm mb0">
        <div class="card-body pt0">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-primary">
                        Login
                    </h2>
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-validate floating-label", role = "form", autocomplete = "off" }))
                {
                    <div class="col-sm-12">
                        <label></label>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="success-message-content" data-valmsg-summary="true">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "", id = "tbx-username" })
                            @Html.LabelFor(m => m.Username)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "" })
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="row">
                            <div class="col-xs-4 text-right">
                                <button class="btn btn-primary btn-raised" type="submit">Login</button>
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div><!--end .col -->
                    <div class="col-sm-5 col-sm-offset-1 mt+++">


                    </div><!--end .col -->
                }

            </div><!--end .row -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</section>