@using BackEnd.Models
@model Menu

@{
    ViewBag.Title = "AddOrEdit";
    var actionName = @Model.Id > 0 ? "Edit" : "Add";
}

<div class="row">
    <div class="card card-outlined">
        <div class="card-head">
            <header>
                @if (Model.Id > 0)
                {
                    @("Edit Menu")
                }
                else
                {
                    @("New Menu")
                }
            </header>
        </div>
        <div class="card-body">
            @using (Html.BeginForm(actionName, "Menu", FormMethod.Post, new { @class = "form form-validate" }))
            {
                if (Model.Id > 0)
                {
                    @Html.HiddenFor(m => m.Id)        
                }
                
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input type="text" name="Name_VN" class="form-control" value="@Model.Name_VN" required />
                            <label>Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea name="Description_VN" class="form-control control-3-rows">@Model.Description_VN</textarea>
                            <label>Description</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
